canvas {
  width: 900px;
  height: 600px;
  border: 1px solid black;
}

circle {
  stroke: #fff;
}

body {
  display: flex;
  flex-direction: column;
}

.game {
  width: 970px;
  display: flex;
  flex-direction: row;
}

.left-panel {
  position: relative;
}

.right-panel {
  float: left;
  width: 50px;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.right-panel label {
  width: 50px;
  margin: 0;
}

/* Hide native radio buttons. */
[name="toolbelt"][type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[name="toolbelt"] + img {
  cursor: pointer;
  width: 30px;
  border: 2px solid #fff;
  padding: 5px;
  margin: 5px;
}

/* CHECKED STYLES */
[name="toolbelt"]:checked + img {
  border: 2px solid #0d0;
}

.modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  display: none;
}

.modal-active {
  display: flex;
}

.modal-content {
  min-width: 300px;
  border: 1px solid black;
  background-color: #690;
  padding: 5px;
  min-height: 300px;
}

.start-game-modal {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.credits {
  font-size: x-small;
  color: gray;
}

.delete-wall {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
